aiohttp==3.7.3
appnope==0.1.0
argon2-cffi==20.1.0
asgiref==3.2.10
asn1crypto==1.4.0
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
awscli==1.16.283
backcall==0.1.0
bleach==3.1.4
botocore==1.13.19
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.1
conda==4.9.2
conda-package-handling==1.6.0
configparser==5.0.1
cryptography==3.3.1
decorator==4.4.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.1.2
django-environ==0.4.5
docutils==0.15.2
entrypoints==0.3
Flask==1.1.2
future==0.18.2
gunicorn @ file:///Users/runner/miniforge3/conda-bld/gunicorn_1608073970431/work
idna==2.10
importlib-metadata==1.5.2
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.2
jmespath==0.9.4
json5==0.9.0
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-core==4.6.3
jupyterlab==2.0.1
jupyterlab-pygments==0.1.2
jupyterlab-server==1.0.7
MarkupSafe==1.1.1
minio==7.0.0
mistune==0.8.4
multidict==5.1.0
nbconvert==5.6.1
nbformat==5.0.4
nest-asyncio==1.4.3
notebook==6.0.3
packaging==20.8
pandocfilters==1.4.2
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==3.0.5
psycopg2==2.8.6
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pyasn1==0.4.8
pycosat==0.6.3
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.1
PyYAML==5.1.2
pyzmq==18.1.1
requests==2.25.1
rsa==3.4.2
ruamel-yaml==0.15.46
ruamel.yaml.clib==0.2.2
s3transfer==0.2.1
Send2Trash==1.5.0
six==1.15.0
slackclient==2.9.3
sqlparse==0.3.1
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
tqdm==4.54.1
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.25.11
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
yarl==1.6.3
zipp==3.1.0
