{% extends "_partial.html" %}
{% load static  %}


{% block content %}


    <div class="container w-container">
      {% if latest_post_list %}
      {% for post in latest_post_list %}
      <div class="div-block-2"></div>
      <hr class="rounded">
      <div>
        <div class="columns w-row">
          <div class="w-col w-col-7">
            <div class="rich-text-block-2 w-richtext">
              <h2 id="postTitle">{{ post.title }}</h2>
              <p>{{ post.description }}</p>
            </div>
          </div>
          <div class="w-col w-col-5">
            <div><img src="uploads/{{ post.image_upload }}" loading="lazy" srcset="uploads/{{ post.image_upload }}" id="post-image"  alt="" class="image-2"></div>
            <div>
              <a href="/{{post.id}}" class="button-2 w-button">Read More </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
          <p>No post are available.</p>
      {% endif %}
      <hr class="rounded">
    </div>




{% endblock %}
