{% include "_partial.html" %}


{% block content %}

<div class="container-2 w-container">
      <div>
        <div class="w-row">
          <div class="w-col w-col-6">
            <div class="html-embed-2 w-embed w-iframe"><iframe src="https://open.spotify.com/embed/artist/6ARb7pg1EWjmYhWsNarHf2" width="600" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
          </div>
          <div class="w-col w-col-6"></div>
        </div>
      </div>
    </div>

{% endblock %}
